{% extends 'form_base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-8">
            <div class="login-wrap p-4 p-md-5">
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="fa fa-user-o"></span>
                </div>
                
                <h3 class="text-center my-4">Search</h3>
                <form method="get" action="" class="task-form">
                    {% csrf_token %}
                    {% include "form.html" %}
                    <input type="submit" class="btn btn-primary px-3 rounded text-right" value="Search">
                </form>
            </div>
        </div>
        <div class="row">
            {% if properties %}
                {% for property in properties %}
                <div class="col-6 my-3">
                    <div class="property-slider-wrap">
                        <div class="property-slider">


                            <div class="property-item">
                                <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid" />
                                
                                
                                <div class="property-content">
                                    <div class="price mb-2">
                                        <span>{{ property.name }}</span>
                                    </div>
                                    <div>
                                        <span class="city d-block mb-3">{{ property.address }}</span>
                                        <span class="city d-block mb-3">{{ property.location }}</span>
                                        
										<h6 class="py-2">Property Features : </h6>
										<span class="caption text-center"><i>{{ property.features }}</i></span>
										<br>
											<div class="price mb-2">
												<span>For {{ property.unit__unit_type }} - {{ property.unit__rent_cost }}$</span>
												<br>
											</div>
											<h6 class="py-2">Unit Features : </h6>
											<span class="caption text-center"><i>{{ property.unit__features }}</i></span>
										
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}	
            {% else %}
                <h3 class="text-muted">No Properties available</h3>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}

